<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="/" class="navbar-brand">
        <img src="{{url_for('static', filename='image/logo.svg')}}" width="200" alt="gamebook">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            

            
            
            {% if session["logged_in"] %}
                <a href="/profile" class="nav-item nav-link active">Profile</a>
                <a href="/channels" class="nav-item nav-link active">Channels</a>
                <a href="/friendlist" class="nav-item nav-link active">Friend List</a>
                <a href="/logout" class="nav-item nav-link active">Logout</a>
            {% else %}
                <a href="/login" class="nav-item nav-link active">Login</a>
                <a href="/signup" class="nav-item nav-link active">Sign Up</a>
            {% endif %}
            
            
           
        </div>
    </div>

</nav>