<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">

    <link rel="stylesheet" href="style.css">
    <title>Tarantulas</title>
</head>
<body>
    <header>
    <div class="container">
        <div class="logo">
                <a href="index.html"><img src="image/logo.svg" width="300" alt="" title="Tarantulas"></a>
        </div>
        <menu>
            <li><a href="index.html"> Home</a></li>
            <li><a href="information.html"> Information</a></li>
            <li><a href="species.html"> Species</a></li>
            <li><a href="amazingfacts.html"> Did you know these?</a></li>
        </menu>
    </div>
    </header>
    <div class="container">
        <div class="content">
            <h2>Welcome To The Colorful World Of Tarantulas!</h2>
            <article>
                <h3>About The Site</h3>
                    This site was founded to explain that the tarantulas are not as dreadful as they are thought.I gave information about the behaviors, habitats and many more features about tarantulas in my site.You can read this general information using the Information button above.If you are interested in the topic, click on the Species button to review the properties of the tarantula species.
            </article>
         
            <ul>
                <li><a href="colorful.html"> Most colorful species!</a></li>

                <li><a href="largest.html">World's largest tarantulas!</a></li>

            </ul>

        </div>
    </div>
    <div class="container"><iframe width="560" height="315" src="https://www.youtube.com/embed/EjoexDVIGG0"  ></iframe></div>
    <div class="container">
        <footer>
          
        </footer>
    </div>


</body>
</html>