{% extends "layout.html" %}

        {% block body %}
            {% from "includes/formhelper.html" import render_field %}

            <br><br><br>
            <h3>Sign Up</h3>
            <hr>
            <form method="post">
                {{render_field(form.name, class="form-control") }}
                {{render_field(form.username, class="form-control") }}
                {{render_field(form.email, class="form-control") }}
                {{render_field(form.age, class="form-control") }}
                {{render_field(form.gameplay_preference, class="form-control") }}
                {{render_field(form.gender, class="form-control") }}
                {{render_field(form.password, class="form-control") }}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Accept the privacy policies.</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                      Don't send me e-mail.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Get news from us via e-mail!
                    </label>
                </div>
                <button type="submit" class="btn btn-dark">Sign Up</button>
            </form>
        {% endblock %}